@model EntityCodeFirst.tbl_User_Master

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_User_Master</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Full_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Full_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_Login_Datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Login_Datetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active_Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.User_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
